 #bannerimage {
  background-image: url("banner.png");
  background-position: center;   
}
hBanner {
    text-align: center;
	background: rgba(220, 220, 220, .8);
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
    font-size: 40px;
}
div.fixed {
    position: fixed;
    top: 0;
	bottom: 70%;
    width: 100%;
	text-align: center;
    overflow: hidden;
    z-index: 999;
}
div.centerHeader {
	position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
	padding-bottom: 10px;
	padding-top:  10px;
    text-align: center;
}
div.absolute {
    position: absolute;
    padding-top: 300px;
}
div.body{
	position:relative;
    clear: both;
	padding-top: 200px;

}
div.body1{
	margin: auto;
    width: 60%;
    padding: 10px;

}
figure { 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0px;
    margin-right: 40px;
}
figcaption{
	font-weight: 500;
	text-align: center;
}
img{
	display: block;
	margin: auto;
	max-width: 100%;
}

